html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins,
kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol,
ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details, figcaption,
figure, footer, header, hgroup, menu, nav, section, summary, time,
mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-line: baseline;
    background: transparent;
}

body {
    font-family: "HelveticaNeue", arial, helvetica sans-serif;
}

#tab-bar {
    background: #050405;
    border-bottom: 1px #441d22 solid;
    position: relative;
    zoom: 1;
}

/* Clearfix to stop our floats escaping */
#tab-bar:before, #tab-bar:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

$tab-bar:after {
     clear: both;
 }

 /* Float out three list items so they're evenly spaced */
#tab-bar li {
    display: inline;
    float: left;
    width: 33.333;
}