h1 {
    position: relative;
    width: 389px;
    height: 43px;
    overflow: hidden;
    font-size: 175%;
    line-height: 43px;
    text-transform: uppercase;
}
h1 span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(001 Chapter1\lion1.jpg);
    background-repeat: no-repeat;
}